body {
    background-color: rgb(1, 4, 36);
}
		
#page-wrapper {
    background-color: rgb(118, 87, 254);
    font-family: Coda, sans-serif;
		font-size: 1em;
    width: 960px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 1);
		border-radius: 12px 12px 0px 0px;
}

#header {
		font-size: 1.5em;
		color: #ffffff;
		text-align: center;
    position: relative;
    margin-top: 20px;
		margin-bottom: 20px;
    border-radius: 12px 12px 0px 0px;
		align-content: center;
		border: 2px solid white;
}

#planets {
		border: 2px solid #ffffff;
		margin: 40px 0px 20px 0px; 	
		text-align: center;
		color: #ffffff;
}

#first {
		text-align: center;
		color: #ffffff;
		font-size: 0.8em;
		border: 2px solid #ffffff;
		height: 255px;
		width: 450px;
		float: left;
		position: relative;
}

#second {
		text-align: center;
		color: #ffffff;
		font-size: 0.8em;
		border: 2px solid #ffffff;
		height: 335px;
		width: 450px;
		float: right;
		position: relative;
		margin: 0px 0px 20px 0px;
}

.para {
		margin: 5px 0px 20px 0px;
		float: left;
		width: 450px;
		position: relative;
		color: yellow;
		border: 2px solid #ffffff;
}

#footer {
		background-color: #bbbbbb;
		height: 340px;
		clear: both;
		margin: 20px 0px 0px 0px;
		text-align: center;
		color: black;
}

#footer ul {
		list-style-type: none;
		text-decoration: none;
		margin:0;
		padding: 0;
}

#footer li a:hover {
		background-color: rgb(118, 87, 254);
		color: white;
}